body{
  background-color: rgb(255, 255, 255);
}

img.logo{
  width: 17rem;
}

div.h1barra{
  width: 100%;
  height: 2.3rem;
  background-color: rgba(80, 15, 15, 0.884);
  border-radius: 0.3rem; 
}

h1.h1text{
  font-size: 1.7rem;
  font-family: sans-serif;
  margin-left: 1rem;
  margin-top: -0rem;
  color: rgb(255, 255, 255);
}

/* th{
  text-align: center;
  font-size: 1.5rem;
  font-family: sans-serif;
  border-radius: 0.2rem;
  background-color: rgb(180, 179, 179);
  color: rgb(255, 255, 255);
}

td{
  text-align: center;
  font-size: 1.4rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  border: rgba(121, 121, 121, 0.63);
  background-color: rgba(255, 255, 255, 0.63);
  color: rgb(94, 13, 13);
} */

div{
  display: inline-block;
}

h2{
  margin-top: 0.1rem;
  margin-left: 0.3rem;
  font-size: 2rem;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.603);
}

div.h2barra{
  width: 100%;
  background-color: rgba(184, 181, 181, 0.863);
  margin-left: rem;
  height: 2.5rem;
  border-radius: 0.3rem;
}

h3{
  font-size: 1.3rem;
  font-family: sans-serif;
  color:rgb(255, 255, 255);
}

#datahora{
  margin-left: 50rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.479);
}


/*Texto da animação Jayme da Fonte*/
h3.h3animation {
  font-family: sans-serif;
  margin-top: 0.4rem;
  height: 2rem;
  animation: hjf 40s infinite ;
}

@keyframes hjf {
  0% {
    transform: translateX(1600px);
  }
  100% {
    transform: translateX(-35rem);
  }
}


/* Barra da animação Jayme da Fonte*/
div.hiddendiv{
  background-color: rgba(80, 15, 15, 0.884);
  display: flex;
  margin-top: 2rem;
  width: 100%;
  height: 2.3rem;
  border-radius: 0.3rem;
}


table{
  width: 100%;
  border-radius: 0.3rem;
}


 /* color panel - alert*/

.red{
  background-color:rgba(255, 0, 0, 0.747);
  color:rgb(255, 255, 255);
}

.yellow{
  background-color:rgba(251, 255, 0, 0.795);
  color:rgb(0, 0, 0);
}

.green{
  background-color:rgba(0, 255, 0, 0.76);
  color:rgb(0, 0, 0);
}

.blue{
  background-color:rgba(0, 68, 255, 0.815);
  color:rgb(255, 255, 255);
}

.transparent{
  background-color:rgba(255, 255, 255, 0);
}

/* end color panel - alert*/


 /* color panel - time*/

 .redtime{
  background-color:rgba(255, 0, 0, 0.884);
  font-size: 1.1rem; color: white;
}

.yellowtime{
  background-color:rgba(255, 230, 0, 0.781);
  font-size: 1.1rem; color: rgb(0, 0, 0);
}

.greentime{
  background-color:rgba(44, 221, 0, 0.884);
  font-size: 1.1rem; color: rgb(0, 0, 0);
}

.bluetime{
  background-color:rgba(0, 17, 255, 0.863);
  font-size: 1.1rem; color: rgb(255, 255, 255);
}

